@charset "utf-8";
@import "../vars";

// 输入框元素
@mixin input--text($height: $input-height-base, $padding:$input-padding-vertical $input-padding-horizontal){
  height: $height;
  padding: $padding;
  color: $input-color;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
