@charset "utf-8";
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// http://kyusuf.com/post/almost-complete-guide-to-flexbox-without-flexbox

// 一行上多个元素
@mixin row($parent-selector, $item-selector, $font-size: 12px, $vertical-align: top) {
  #{$parent-selector} {
    font-size: 0;
  }
  #{$item-selector} {
    display: inline-block;
    vertical-align: $vertical-align;
    font-size: $font-size;
  }
}

// 两端对齐
@mixin space-between($parent-selector, $item-selector, $font-size: 12px, $vertical-align: top) {
  @include row($parent-selector, $item-selector, $font-size: 12px, $vertical-align: top) ;
  #{$parent-selector} {
    text-align: justify;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
}

// 居中对齐
@mixin space-around($parent-selector, $item-selector, $font-size: 12px, $vertical-align: top) {
  @include row($parent-selector, $item-selector, $font-size: 12px, $vertical-align: top) ;
  #{$parent-selector} {
    text-align: center;
  }
}

// 占据剩余部分 类似 flex-grow
@mixin item-fill($parent-selector, $item-selector, $fill-item-selector, $vertical-align: top) {
  #{$parent-selector} {
    display: table;
  }
  #{$item-selector} {
    display: table-cell;
    vertical-align: $vertical-align;
  }
  #{$fill-item-selector} {
    width: 100%;
  }
}


