@charset "utf-8";
@import "../mixins/layout";

// 一行上多个元素
@include row('.labels', '.labels__item');
.labels{
	&__item{
		font-size: 14px;
		height: 1.5em;
		line-height: 1.5em;
		margin-right: 10px;
		border: 1px solid #3892f5;
		color: #3892f5;
		padding: 0 10px;
	}
}
// 两端对齐
@include space-between('.navs', '.navs__item');
.navs{
	&__item{
		box-sizing: border-box;
		padding: 15px;
		width: 200px;
		border: 1px solid #f00;
		&__pic{
			display: block;
			width: 100px;
			height: 100px;
			margin: 0 auto 10px;
			border-radius: 50%;
		}
		&__text{
			text-align: center;
		}
	}
}
// 有元素占据剩余部分
@include item-fill('.info', '.info__item', '.info__item--fill');
@include space-between('.info__other', '.info__other__item');
.info{
  &__img-wrap{
    padding-right: 20px;
  }
	&__img{
    display: block;
    width: 100px;
    height: 100px;
	}
	&__title{
		font-size: 16px;
		line-height: 1.5em;
	}
}
