@charset "utf-8";
@import "compass";
@import "compass/layout/";
@import "_variables";

@import "compass/reset";
*, :before, :after{// IE8+
    @include box-sizing(border-box);
}

html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}
html{
    font-size: 62.5%;// 10px
}
body{
    font-size: 12px;
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}

@import "_type";// 排版

@import "_debugCSS";// 对HTML的验证

@mixin clearfix(){// 还有另外的几个见 http://compass-style.org/reference/compass/utilities/general/clearfix/
    @include pie-clearfix();
}

.clearfix{
    @include clearfix();
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.container{
	max-width: 120rem;
	margin-left: auto;
	margin-right: auto;
    @include clearfix();
}

// layout
@import "kite.scss";
// @import "_grid.scss";



